* {
    padding: 0;
    margin: 0;
    font-size: 1em;
    line-height: 1em;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Overpass Mono', monospace;
    margin: 4em auto;
    background-color: #1F1F1F;
    color: #F0F0F0;
    font-size: 1.1em;
    overflow-x: hidden;
    width: 60%;
    max-width: 900px;
    word-wrap: break-word;
}

p, ul {
    line-height: 1.8em;
    font-weight: 300;
    margin-bottom: 1.4em;
}

b {
    color: #FFE501;
    opacity: 80%;
}

a {
    text-decoration: none;
    color: #FFE501;
}

.button {
    color: #1F1F1F;
    background: #FFE501;
    padding: 0.6em 1.8em;
    font-weight: 700;
    display: inline-block;
    margin-top: 1em;
    text-transform: uppercase;

    -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
    box-shadow: 8px 8px 0px 0px rgba(0,0,0,1);
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background: #F0F0F0;
}

.button-txt {
    text-decoration: underline;
    color: #FFE501;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin-bottom: -4em;
}



ul {
    list-style: none;
}

li {
    line-height: 1.4em;
    margin-bottom: 0.4em;
}

li:before {
    content: "* " 
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
}

h1, h2, h4 {
    color: #FFE501;
    font-weight: 700;
    text-transform: uppercase;
    margin: 4em auto 2em auto;
}

h2 {
    margin: 4em auto 1.4em auto;
}

h4 {
    margin: 2em auto 0.4em auto;
}

.output, .message {
    opacity: 60%;
    visibility: visible;
}

.intro {
    color: #FFE501;
    opacity: 80%;
}

.intro h4 {
    margin: 2em auto;
}

.intro {
    margin: 4em auto;
}

input {
    margin: 1em auto;
}

.img-placeholder {
    width: 50%;
    height: 200px;
    background-color: #F0F0F0;
    opacity: 60%;
    display: flex;
    align-items: center;
    margin: 1em 0em;
}

.img-placeholder p {
    color: #1F1F1F;
    margin: auto;
    text-transform: uppercase;
}

.img-restored {
    background-color: #FFE501;
}


@media (max-width: 40em) {

    body {
        width: 90%;
    }
}